.wrapper {
  display: flex;
margin-top: 30px;
  justify-content: space-between;

}

@media screen and (max-width: 767px) {
.wrapper {
  margin-top: 30px;
}

}

@media screen and (min-width: 768px) and (max-width: 1280px) {
.wrapper {
    margin-top: 30px;
  }
}

.currency__container {
  padding: 0 20px;
  margin-top: 30px;
  color: #ffffff;
  width: 393px;
  height: 347px;
  background-image: url('../../img/images/Currency.png');
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .currency__container {
    
    flex-direction: column;
    align-items: flex-start;
    width: 336px;
    height: 182px;
    background-image: url('../../img/images/Currency_tab.png');
  }
}

@media screen and (max-width: 767px) {
  .currency__container {
    flex-direction: column;
    margin: auto;
    width: 280px;
    height: 174px;
    background-image: url('../../img/images/Currency_mob.png');
  }
}

.currency__list {
  list-style: none;
}

.currency__title {
  list-style: none;
  font-family: Circe;
  font-weight: 400;
  font-size: 18px;

}
.currency {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  font-family: Circe;
}
.currency__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 90px;
  align-items: center;
}
.currency__item_header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}


